<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DefaultSuit" verbose="2" thread-count="4" parallel="classes">
	
	
	<test name="ProleazFirstSetOfTestCases">
	<classes>
		
		<class name="testcases.TestNG"/>
		 
		 	
		 
	
	
	</classes>
	
	</test>
	
	<test name="Second Suit">
	<classes>
	
	
	 <class name="testcases.TestNG2"/>
	 
	
	
	</classes>
	
	
	</test>
</suite>